# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment / Secrets
.env

# Django
*.log
db.sqlite3

# User uploaded files
media/

# Static files
staticfiles/

# IDE
.vscode/
.idea/
